@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: "Manrope", sans-serif;
  --color-atlas-bg: #FAF8F5;
  --color-accent: #2E8B7F;
  --color-accent-hover: #26786E;
}
